# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini

#Ignoramos los archivos terminados en pelito que son los temporales de
algunos Editores como Kate y Gedit
*~

# archivos creados por los IDEs Eclipse, Zend Studio, Netbeans y PHPStorm
.buildpath
.project
.settings
nbproject
.idea


# Archivos terminados en pelito que son los temporales de algunos Editores
como Kate y Gedit
*~

# Base de datos Sqlite
/app/db/*

# Imagenes subidas y cache de imágenes
/web/catalog/images/*
/web/catalog/cache/*


