body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.itemListingWrapper .itemListingContainer {
    min-height: 200px;
}

.categoriesNavigation.active.link {
    font-weight:bold;
}

ul.breadcrumb li.rss-add {
	float: right;
} 