{% for key, message in app.session.getFlashes() %}
<div class="alert {{ key }} fade in" data-alert="alert" >
    <a class="close" href="#">×</a>
   <strong> {{ message }} </strong>
</div>
{% endfor %}