{% extends 'SimpleCatalogBundle:Layouts:base.html.twig' %}
{% block title %} Administrar Categorías {% endblock %}

{% block content %}
<div class="form-actionss well">
    <h2>{{ block('title') }}</h2>
    <div class="scright">
       <a href="{{ path('category_new') }}" class="btn btn-small btn-primary"><i class="icon-plus icon-white"></i> Nueva Categoría</a>
    </div>
    <div style="clear: both"></div>
</div>



{% include 'SimpleCatalogBundle:Layouts:flashes_messages.html.twig'%}

<div class="backendListingCategories">
{{ html_tree | raw }}
</div>
{% endblock %}