body {
    padding-top: 60px;
    padding-bottom: 40px;
}
div#form {
    display: inline;
}

label.required {
    font-weight: bold;
}

.sc_actions {
    text-align: center;
    margin-top: 40px;

}

.sc_actions a {
    margin-bottom: 10px;
}

.sc_thumb_table {
    width: 180px;
}

.sc_actions_table {
    width: 100px;
}

.sc_index_table {
    width: 10px;
}

.sc_form {
    margin-top: 20px;
    
}

.sc_sidebar a {
    width: 120px;
}