{% extends theme_layout_html %}

{% block navigation %}
    {% render 'HotDesignScThemeBundle:Category:renderTemplateCategories' with {'current_level': category_level, 'category': category} %}
{% endblock %}

{% block content %}


<div class="span10">
    {% if category and category_level >= 0 %}
          {% render 'HotDesignScThemeBundle:Category:renderCategoryBreadcumb' with {'category': category} %}
        {% else %}
        <ul class="breadcrumb">
            <li class="active">Todos</li>
             <li class="rss-add">
    		<a href="{{ path('products_homepage', {'_format': 'xml' }) }}">
        <img src="{{asset('_images/add_rss.png')}}" alt="RSS" width="18" />
        </a>
    </li>
        </ul>
    {% endif %}
    
    {% block product_content %}{% endblock %}
        
</div>
{% endblock %}