<div class="row show-grid">
    <div class="span2">
        <a href="#" class="thumbnail">
            <img src="http://placehold.it/160x120" alt="">
        </a>
    </div>    
    <div class="span8">

        <div class="caption">
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec congue faucibus odio vitae sollicitudin. Mauris rutrum, nunc at scelerisque luctus, velit sapien dictum nisl, et mollis libero dolor at neque. Quisque pretium, nisi in tincidunt luctus nullam <small>$100.000.000</small></h3>

            <p>
               Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec congue faucibus odio vitae sollicitudin. Mauris rutrum, nunc at scelerisque luctus, velit sapien dictum nisl, et mollis libero dolor at neque. Quisque pretium, nisi in tincidunt luctus nullam
            </p>
            
  <div class="row-fluid show-grid">
    <div class="span1">1</div>
    <div class="span1">1</div>
    <div class="span1">1</div>
    <div class="span1">1</div>
    <div class="span1">1</div>
    <div class="span1">1</div>
    <div class="span1">1</div>
    <div class="span1">1</div>
    <div class="span1">1</div>
    <div class="span1">1</div>
  </div>
            
        </div>



    </div>
</div>